@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

/* MISC */
@import url('./misc/helpers.css');
@import url('./misc/normalize.css');
@import url('./misc/variables.css');
/* COMPONENTS */
@import url('./components/buttons.css');
@import url('./components/card.css');
@import url('./components/form.css');
@import url('./components/search-bar.css');
@import url('./components/slider.css');
/*PAGES*/
@import url('./pages/home.css');
@import url('./pages/products.css');
/*PARTIALS*/
@import url('./partials/header.css');


.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33.33%; /* Un tercio de la pantalla */
    background-color: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite desplazamiento si hay muchos productos */
    z-index: 100;
}

.cart-dropdown h2 {
    margin-top: 0;
}

.cart-total {
    margin-top: 20px;
    font-weight: bold;
}

.cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}