.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen  and (orientation: portrait) and (max-width: 1024px) {
    .container{
        max-width: 928px;
        margin: 0 auto;
    } 
}

@media screen  and (orientation: portrait) and (max-width: 800px) {
    .container{
        max-width: 720px;
        margin: 0 auto;
    } 
}

@media screen  and (orientation: portrait) and (max-width: 720px) {
    .container{
        max-width: 670px;
        margin: 0 auto;
    } 
}