*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--base-font);
  font-size: 62.5%; /*  medida(16px = 1em) calculo(16px*0.625 = 10px)*/
  color: var(--dark-solid);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding: var(--spacing-8);
}

header {
  font-family: var(--alternative-font); 
  font-size: var(--font-intermediate);
  color: var(--light-font-solid);
  background-color: var(--dark-900);
}

header nav{
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

ul, ol {list-style-type: none}

h3 {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 500;
}

p {
  font-family: var(--alternative-font);
  font-size: var(--font-medium);
  font-weight: 400;
  color:var(--alternative-font);
}

h2 {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
}

main img {
  max-width: 200px;
  max-height: 200px;
}

@media screen and (max-width: 780px){
  header {
    font-size: var(--font-medium);
  }

  header nav{
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }

  main img {
    max-width: 100px;
    max-height: 100px;
  }

  h2 {
    font-size: var(--font-intermediate);
  }

  h3 {
   font-size: var(--font-medium);
  }

  p {
    font-size: var(--font-small);
  }
  
}