.cart-dropdown {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 45%; /* Un tercio de la pantalla */
    background-color: white;
    border-left: 1px solid #ccc;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite desplazamiento si hay muchos productos */
    z-index: 1;
    font-size: 65.2%;
}

.cart-container {
    display: flex;
    flex-direction:column ;
    gap: var(--spacing-20);
}

.cart-container-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cart-title {
    font-size: var(--font-small);
    color: var(--dark-solid);
}

.cart-close{
    width: 25px;
    height: 25px;
    color: var(--dark-solid)
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    color: var(--dark-solid)
}

.cart-items-child {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5rem;
    justify-content: center;
    align-items: center;
}

.cart-items-name {
    grid-column: 1/3;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda del contenedor */
    text-overflow: ellipsis; /* Añade "..." al final del texto que se corta */
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    
}

.cart-items-cant {
    grid-column: 4/5;
    
}

.cart-items-price {
    grid-column: 5/6;    
}

.cart-items-child  p{
    font-size: var(--font-xsmall);
}

.icon-close{
    grid-column: 6/7;
    justify-self: end;
    width: 25px;
    height: 25px;
    color: var(--dark-solid)
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.cart-total {
    font-size: var(--font-small);
    text-align: center;
    font-weight: bold;
    color: black;
}

.cart-empty{
    color: var(--grey-font-solid);
    font-size: var(--font-small);
    padding: var(--spacing-24);
    text-align: center;
}

.hidden-cart{
    display: none;
}
.hidden{
    display: none;
}

@media screen and (orientation: portrait) and (max-width: 800px) {
    .cart-dropdown {
        width: 50%;
    }
     
    .cart-items-child  p{
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        overflow: hidden; /* Oculta el texto que se desborda del contenedor */
        text-overflow: ellipsis; /* Añade "..." al final del texto que se corta */
        max-width: 200px;
    }
    
}

@media screen and (orientation: portrait) and (max-width: 400px) {
    .cart-dropdown {
        width: 100%;
    }
     
}
