.card-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing-16);
    padding: 4px;
}

.card-product:hover {
    background-color: var(--dark-500);
    border:  var(--dark-300);
    border-radius: var(--spacing-16);
    color: var(--light-bg-solid)
}

