#search-input{
  border: none;
  margin-left: var(--spacing-12);
  height: var(--spacing-36);
}

#search-input:focus {
  outline: none;
}

.quantity-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-12);
}

.quantity-form-label {
  font-size: var(--font-large);
  color: black;
  font-weight: bold;  
  align-self: center;
}

.quantity-form-input {
  height: var(--spacing-36);
  border: 1.5px solid var(--dark-bg-solid);
  border-radius: var(--spacing-8);
  text-indent: var(--spacing-8);
}