.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 65.2%;
}

/*Popup de terminos y condiciones*/
.popup-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--spacing-16);
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  padding: var(--spacing-16);
  border: 1px solid white;
  border-radius: var(--spacing-8);
  background-color: #fff;
  font-size: var(--font-xsmall);
}

.pop-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
