.search-container {
    margin-top: var(--spacing-36);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--dark-500);
    border-radius: 30px;
    width: 70%;
}