.search-container {
    margin-top: var(--spacing-20);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid var(--dark-bg-solid);
    border-radius: var(--spacing-16);
    width: 70%;
}