.container-section {
    display: flex;
    flex-direction: row;
    gap:var(--spacing-20);
    margin-top: var(--spacing-16);
}

.container-ul {
    display: flex;
    flex-direction: row;
}

.container-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


