.container-section {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-68);
    margin-top: var(--spacing-68);
}

.container-product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


