.products-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-68);
    margin-top: var(--spacing-36);
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.product-container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 5rem,
}

.product-name-row {
    grid-column: 1/3;
    align-self: center;
}

.product-price-row {
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

.product-cant-row {
    grid-column: 4/5;
    justify-self: center;
    align-self: center;
}

.product-unity-row {
    grid-column: 5/6;
    justify-self: center;
    align-self: center;
}

.product-button-row {
    grid-column: 6/7;
    justify-self: center;
    align-self: center;
}

@media screen and (orientation: portrait) and (max-width: 800px){
    .products-container {
        gap: var(--spacing-36);
        margin-top: var(--spacing-20);
    }

    .product-list {
        gap: var(--spacing-20);
    }
    .product-name-row {
        grid-column: 1/3;
        white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        overflow: hidden; /* Oculta el texto que se desborda del contenedor */
        text-overflow: ellipsis; /* Añade "..." al final del texto que se corta */
        max-width: 200px; 
    }
    
    .product-price-row {
        justify-self: center;
    }
    
}
